@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --cor-principal: #0a0085;
  --cor2: #020873;
  --cor3: #021859;
  --cor4: #43e0cb;
  --cor5: #f2c1ae;
  --branco: #ffffff;
  --cinza: #f5f5f5;
  --fonte-titulos: "Fjalla One", sans-serif;
  --fonte-paragrafos: "Work Sans", sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--cor-principal);
}

/* CONTAINER PADRÃO */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */
.header {
  background: var(--cor2);
  padding: 20px 0;
  text-transform: uppercase;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 40px;
  width: 100%;
  height: auto;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: var(--branco);
  font-weight: 600;
  transition: 0.3s;
}

.nav a:hover {
  color: var(--cor4);
}

/* HERO */
.hero{
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('../img/banner.jpg') center/cover no-repeat;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  gap: 40px;
}
.hero-image{
  max-width: 50%;
  height: auto;
  filter: drop-shadow(0 0 3px rgba(0, 255, 200, 0.4))
}

.hero h2{
  display: block;
    font-family: var(--fonte-titulos);
    font-size: 3rem;
    margin-bottom: 15px;
    color: var(--cinza);
}

.hero span{
  color: var(--cor4);
}

.hero-content {
  max-width: 50%;
  gap: 20pz;
}

.hero p{
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: var(--cinza);
}

.btn{
    background: var(--cor4);
    color: var(--branco);
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover{
    background: var(--cor5);
}
