@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --cor-principal: #0a0085;
  --cor2: #020873;
  --cor3: #021859;
  --cor4: #43e0cb;
  --cor5: #f2c1ae;
  --branco: #ffffff;
  --cinza: #f5f5f5;
  --fonte-titulos: "Fjalla One", sans-serif;
  --fonte-paragrafos: "Work Sans", sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--cor-principal);
}

/* CONTAINER PADRÃO */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  text-transform: uppercase;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 40px;
  width: 100%;
  height: auto;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: var(--branco);
  font-weight: 600;
  transition: 0.3s;
}

.nav a:hover {
  color: var(--cor4);
}

/* HERO */
.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('../img/banner.jpg') center/cover no-repeat;
}

.hero-container {
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  gap: 40px;
}
.hero-image{
  max-width: 50%;
  height: auto;
  filter: drop-shadow(0 0 3px rgba(0, 255, 200, 0.4))
}

.hero h2{
  display: block;
    font-family: var(--fonte-titulos);
    font-size: 3rem;
    margin-bottom: 15px;
    color: var(--cinza);
}

.hero span{
  color: var(--cor4);
}

.hero-content {
  max-width: 50%;
  gap: 20pz;
}

.hero p{
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: var(--cinza);
}

.btn{
    background: var(--cor4);
    color: var(--branco);
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover{
    background: var(--cor5);
}

/* SERVIÇOS */
.servicos{
    background: var(--cor3);
    text-align: center;
}

.services-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
  margin: 50px;
}

.services-content h2 {
  color: var(--branco);
}
.subtitulo{
    color: var(--cinza) ;
    margin-top: -20px;
    margin-bottom: 40px;
    opacity: 0.8;
}

/* GRID */
.lista-servicos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* CARD */
.card-servico{
    background: var(--cor3);
    padding: 30px 20px;
    border-radius: 12px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.card-servico h3 {
  color: var(--branco);
}
.card-servico p {
  color: var(--cinza);
}
/* EFEITO HOVER */
.card-servico:hover{
    transform: translateY(-10px) scale(1.02);
}

/* BORDA ANIMADA */
.card-servico::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background: var(--cor4);
    top: 0;
    left: 0;
}

/* TITULO */
.card-servico h3{
    font-family: var(--fonte-titulos);
    margin-bottom: 10px;
}

/* TEXTO */
.card-servico p{
    font-size: 0.95rem;
    opacity: 0.9;
}

/* PREÇO */
.card-servico span{
    display: block;
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cor4);
}

/* CARD DESTAQUE */
.destaque{
    border: 2px solid var(--cor4);
    transform: scale(1.05);
}

.destaque:hover{
    transform: scale(1.08);
}